-- todo: imporove seed?
math.randomseed(tmr.now())

config={
  device_id="ESP8266-"..node.chipid(),
  boot_id=math.random(2^32)
}

config.wifi={
  mode=wifi.STATION,
  sta={
    topics={
      events="events/wifi/sta"
    },
    ssid = <WIFI_SSID>,
    pwd=<WIFI_PASSWORD>,
    monitor=true
  }
}

config.ntp={
  topics={
    events="events/ntp",
    ts="ts/ntp"
  },
  server=<NTP_SERVER e.g:"ptbtime1.ptb.de">,
  alarm_id=0,
  first_sync_interval_s=30,
  sync_interval_s=1800
}

config.am2302={
  topics={
    events="events/am2302",
    ts="ts/am2302"
  },
  alarm_id=1,
  pin=5,
  read_sensor_interval_s=300,
  temperature_offset=-0.5
}

config.msgbus={
  topics={
    events="events/msgbus",
    ts="ts/msgbus"
  },
  mqtt={
    alarm_id=2,
    reconnect_interval_s=60,
    send_timeout_s=60,
    host=<MQTT_HOST>,
    port=<MQTT_PORT>,
    user=<MQTT_USER e.g:config.device_id>,
    password=<YOUR_MQTT_PASSWORD>
  }
}
